@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html , body{
     margin: 0;
     padding: 0;
     align-items: center;
     justify-content: center;
    font-family: "Roboto", sans-serif;
}
body section{
    width: 100%;
}
.heading {
    margin-top: 2%;
    width: 97%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    border-bottom: 0.2px solid #8c92a0;
    
}
@media screen and(max-width: 600px) {
    .heading{
        display: block;
        height: fit-content;
    }
}
.heading .searchBar{
    width: 30%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: ffff;
    padding: 15px;
    text-align: left;
    color: #8c92a0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    border: none;
}
.tbox-search{
    border: none;
    margin-right: -10%;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    padding: 15px;
    outline: 0;
}
.logo-bar{
    width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.logoBar{

    text-align: center;
    justify-content: center;
    border: 2px solid;
    padding: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 30px;
}

.basketBar{
    width: 20%;
    align-items: end;
    justify-content: end;
}
.basketBar i{
    width: 100%;
    text-align: end;
    align-items: end;
    justify-content: end;
}
.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    
}

.navBar ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul li{
    width: 25%;
}

.navBar ul li a{
    width: 25%;
    text-decoration: none;
    color: #8c92a0;
    font-size: 25px;
    display: inline-block;
    height: fit-content;
}

.favContent {
    width: 100%;
    height:100vh;
    background-image: url(assets/notebook.jpg);
    background-size: cover;
}
@media screen and (max-width:600px){
    .favContent{
        
        background-attachment:fixed;
        background-size: contain;
    }
}
.fav-content{
    width: 40%;
    height: 100vh;
    height: fit-content;
    float: right; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-area{
    width: 100%;
    height: 100vh;
    color: #333333;
    font-size: 20px;
    line-height: 35px;
    align-items: center;
    justify-content: center;
}

.shop-button{
    padding: 15px;
    margin: 25px;
    font-weight: 300;
    line-height: 1.5;
    border-radius: 0.2rem;
    color: #fff;
    background-color: #7971ea;
    border-color: #7971ea;
    text-decoration: none;
    -webkit-box-shadow: 0 0 1px 1px b#7971ea;
	-moz-box-shadow: 0 0 1px 1px #7971ea;
	box-shadow: 0 0 1px 1px #7971ea;
}

.icon-section{
    width: 100%;
    margin-top: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    margin-bottom: 10px;
    border-bottom: 0.2px solid #8c92a0;
    vertical-align: middle;
    position: relative;
}
@media screen and(max-width:600px) {
    .icon-section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

.icons {
    width: 95%;
    margin: 30px;
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

.i-icon {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: start; 
    justify-content: space-around;
    gap: 50px; 
    color: #8c92a0;
    font-weight: 300;
    font-size: 16px;
}
.product-category{
    width: 97%;
    margin: 3%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #fff;

}
.one{
    
    height: max-content;
    background-image: url(assets/macbook.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.two{
    background-image: url(assets/iphone.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.three{
    background-image: url(assets/airpods.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.product-category .category{
    width: 25%;
    height: 25vh;
    -webkit-box-shadow: 0 0 0px 0.08px #969696;
	-moz-box-shadow: 0 0 0px 0.08px #969696;
	box-shadow: 0 0 0px 0.08px #969696;
}
 .category div{
    margin: 2%;
    position: relative;
    background-color:white;
    opacity: 0.6;
    position: sticky;
    align-items: end;
    text-align: end;
    right: 0;
 }
 .category div h4{
    font-size: 35px;
 }
 .category div p:only-child{
    font-size: 30px;
 }
.category:hover {
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02); 
    transform: scale(1.02); 
}

.category > h4, a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: large;
    width: 100%;
    height: 50vh;
    color: #333333;
    font-size: 20px;
    line-height: 35px;
}
.price-cards{
    width: 100%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fafafa;
    margin-bottom: 10px;
    vertical-align: middle;
    position: relative;
}
.price-image a img{
    width: 100%;
}

.cards{
    margin: 5%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: none;
    -webkit-box-shadow: 0 0 0px 0.05px #969696;
	-moz-box-shadow: 0 0 0px 0.05px #969696;
	box-shadow: 0 0 0px 0.05px #969696;
}

.priceText {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.priceText p {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: #7971ea;
}

.salesInf{
    width: 97%;
    margin-top: 50px;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 10px;
}
.salesInf header{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    line-height: 30px;;
}
 .sales-area{
    margin: 100px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
 }
.sales-image{
    display: inline-flex;
    width: 50%;
    height: 40vh;
}
 .footer{
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-around;
 }
.footer:first-child ul {
    list-style-type: none;
}
.footer .internal-fist ul li{
    
    text-decoration: none;
    font-size: 25px;
    display: block;
}