html , body{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {

    margin-top: 20px;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background: #fff;
    margin-bottom: 0px;
    position: relative;
    border-bottom: 0.2px solid #8c92a0;
}
.heading .searchBar{
    background-color: ffff;
    padding: 15px;
    text-align: left;
    position: relative;
    color: #8c92a0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    border: none;
}
.tbox-search{
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    padding: 15px;
    outline: 0;
}
.logoBar{
    text-align: center;
    justify-content: center;
    border: 2px solid;
    padding: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 30px;
    margin-right: 250px;
}
.basketBar{
    text-align: right;
}
.nav-bar{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;   
}
.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.navBar ul li{
    float: left;
}
.navBar ul li a{
    text-decoration: none;
    color: #8c92a0;
    font-size: 25px;
    display: block;
    padding: 15px;
    margin: 5px;
}
.py-3{
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}
.bg-light{
    background-color: #f8f9fa !important;
}



.acilir_menu select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
 
    
  }
  .acilir_menu {
  width: 240px;
  height: 34px;
  overflow: hidden;
  background: url() no-repeat right  #f8f9fa;
  border: 1px solid #ccc;   float: right;
  margin-right: 15px;
}
.acilir_menu-2 select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    
  }
  .acilir_menu-2 {
  width: 240px;
  height: 34px;
  overflow: hidden;
  background: url() no-repeat right  #f8f9fa;
  border: 1px solid #ccc;
  float: right;
  margin-right: 15px;
}


#section-2{
    display: flex;
    justify-content: space-around;
    margin: 200px 60px;

}
.card{
    width: 20%;
    box-shadow: 0 5px 9px 0 rgb(0,0,0,0.4);
    border-radius: 6px;
}
.card:hover{
    opacity: 0.7;
}
.container{
    padding: 5px 20px;
}
.container p{
    margin: 15px 0;
}
img{
    border-radius: 10px 10px 0 0;
    width: 100%;
}
p{
    font-size: 15px;
}
.card .metin-1{
    color: #7971ea;
    font-size: 18px;
    text-align: center;
}
.card h2{
    color: #7971ea;
    font-size: 18px;
    text-align: center;
    
}
.card p{
    text-align: center;
}



#section-3{
    display: flex;
    justify-content: space-around;
    margin: 200px 60px;

}
#section-4{
    display: flex;
    justify-content: space-around;
    margin: 200px 0;

}

.site-block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
    
}
 .site-block-27 ul li {
    padding: 0;
    margin: 0;
}
.text-center {
    text-align: center !important;
}
.site-block-27 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 100px;
   
}

.site-block-27 ul li {
    display: inline-block;
    margin: 0 5px;
    
}

.site-block-27 ul li a {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.site-block-27 ul li.active span {
    background-color: #333;
    color: #fff;
}

.site-block-27 ul li a:hover {
    background-color: #f0f0f0;
}

.site-block-27 ul li a {
    color: #7971ea;; 
}
.orta-yukari-otele{
    transform: translateY(-80px); 
    text-align: center; 
}

.footer{
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-around;
    padding-top: 60px;
 }
.footer:first-child ul {
    list-style-type: none;
   
}
.footer .internal-fist ul li{
    text-decoration: none;
    font-size: 25px;
    display: block;
    
   
}



